doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-latest.js",type="text/javascript")
    link(rel='stylesheet', href='/theme/jquery-ui-1.12.1.custom/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/ui.test.css')
    script(src="https://cdn.jsdelivr.net/free-jqgrid/4.13.4/js/i18n/grid.locale-de.min.js",type="text/javascript")
    script(src="https://cdn.jsdelivr.net/free-jqgrid/4.13.4/js/jquery.jqgrid.min.js",type="text/javascript")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqGrid-master/css/jquery-ui.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/javascripts/jqGrid-master/css/ui.jqgrid.css')
    link(rel='stylesheet', href='https://code.jquery.com/qunit/qunit-1.22.0.css')


    script(src="/javascripts/jqGrid-master/js/jquery.min.js")
    script(src="/javascripts/jqGrid-master/js/jquery-ui.min.js")
    script.
      $.jgrid = $.jgrid || {};
      $.jgrid.no_legacy_api = true;
    script(src="/javascripts/jqGrid-master/js/jquery.jqgrid.src.js")
    script(src="/javascripts/jqGrid-master/js/qunit-1.22.0.js")
  body
    ul.nav.left-nav
      li(class="#{locals.pageId == 0 ? 'active' : ''}",pageId="0")
        a(href="/") <i class="icon-home"></i>首页
      li(class="#{locals.pageId == 1 ? 'active' : ''}",pageId="1")
        a(href="/article") <i class="icon-book-open"></i>收费收入
      li(class="#{locals.pageId == 7 ? 'active' : ''}",pageId="7")
        a(href="/qa") <i class="icon-lightbulb"></i>问答
      li(class="#{locals.pageId == 10 ? 'active' : ''}",pageId="10")
        a(href="/topic") <i class="icon-group"></i>讨论区
      li.hidden(class="#{locals.pageId == 20 ? 'active' : ''}",pageId="20")
        a(href="/talk") <i class="icon-conversation"></i>实时讨论
    block content


